<div>
  <h1 class="font-bold text-4xl">Welcome to my Website!</h1>
  <p>This is where we have fun! </p>
  <br/>
  <%= link_to "Checkout Some New Posts", posts_path, class: "text-xl bg-indigo-500 text-indigo-100 p-4" %>
</div>
